<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="Hype Cake" />
    <meta name="author" content="lehype" />
    <title>Dashboard</title>
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css" rel="stylesheet" />
    <link href="/Admin/css/styles.css" rel="stylesheet" />
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
</head>

<body class="sb-nav-fixed">
    <%- include('../layout/header') -%>
    <div id="layoutSidenav">
        <%-include('../layout/sidenav') -%>
        <div id="layoutSidenav_content">
            <main>
                <div class="container-fluid px-4">
                    <h1 class="mt-4">User</h1>
                    <ol class="breadcrumb mb-4">
                        <li class="breadcrumb-item active">User</li>
                    </ol>
                </div>
                <a href="/admin/user/add" class="btn btn-primary">Add User</a>
                <div>
                    <table class="table table-striped table-bordered" >
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Username</th>
                            <th>Fullname</th>
                            <th>Email</th>
                            <th>Address</th>
                            <th>Role ID</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <% users.forEach(user => { %>
                            <tr>
                            <td><%= user.user_id %></td>
                            <td><%= user.username %></td>
                            <td><%= user.fullname || '' %></td>
                            <td><%= user.email %></td>
                            <td><%= user.address || '' %></td>
                            <td><%= user.role_id %></td>
                            <td>
                                <a href="/admin/users/edit/<%= user.user_id %>" class="btn btn-primary">Edit</a>
                                <form action="/admin/users/delete/<%= user.user_id %>" method="POST" style="display:inline;">
                                    <button type="submit" class="btn btn-danger" onclick="return confirm('Bạn có chắc chắn muốn xóa người dùng này không?')">
                                        Delete
                                    </button>
                                </form>

                            </tr>
                        <% }) %>
                        </tbody>
                    </table>  
                </div>   
            </main>
            <%- include('../layout/footer') -%>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        crossorigin="anonymous"></script>
    <script src="/Admin/js/scripts.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
    <script src="/Admin/assets/demo/chart-area-demo.js"></script>
    <script src="/Admin/assets/demo/chart-bar-demo.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js"
        crossorigin="anonymous"></script>
    <script src="/Admin/js/datatables-simple-demo.js"></script>
</body>
</html>